<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bvm.picquest.mapper.AttractionMapper">
    <select id="findByTitle" resultType="Attraction">
        select * from attractions
        <where>
            content_type_id not in (38, 39) and first_image1 != ''
            <if test="title != null">
                and title like CONCAT("%", #{title}, "%")
            </if>
        </where>
        limit 9 offset #{offset}
    </select>
    <select id="findByNo" resultType="AttractionTransferForm">
        select title, first_image1, addr1, latitude, longitude
        from attractions
        <where>
            no=#{no};
        </where>
    </select>
    <select id="findImgsByNo">
        select b.img
        from attractions a join (select * from additional_photo where attraction_no=#{no}) b
        on a.no = b.attraction_no
    </select>
    <insert id="addAdditionalPhoto">
        insert into additional_photo values (#{attractionNo}, #{img})
    </insert>
</mapper>