<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bvm.picquest.mapper.UserMapper">
    <select id="findByEmail" resultType="User">
        select * from user
        <where>
            email=#{email}
        </where>
    </select>
    <insert id="insert">
        insert into user (email, password, nickname, score) values (#{email}, #{password}, #{nickname}, 0)
    </insert>
    <select id="findUserProfile" resultType="ProfileForm">
        select profile_image, nickname, case when email=#{viewerEmail} then true else false end as isMyself, score as userScore
        from user
        <where>
            email=#{email}
        </where>
    </select>
    <select id="findUsersQuest" resultType="ProfileQuestForm">
        SELECT b.img, b.title, b.score as questScore
        FROM quest a join (select * from complete_quest where user_email=#{email}) b
        on a.id = b.quest_id
        order by date desc
        limit 3;
    </select>
    <update id="update">
        update user set password=#{password}, nickname=#{nickname}, profile_image=#{profileImage}
        <where>
            email=#{email}
        </where>
    </update>
    <update id="scoreUpdate">
        update user set score=score+#{score}
        <where>
            email=#{email}
        </where>
    </update>
</mapper>